@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.CachedTime</h1>
    <form method="post" asp-action="Reset" asp-controller="Home">
        <input type="submit" value="Reset Cached Time" />
    </form>
</div>
