@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<ul>
    <li><a asp-page="/Products/Index">View Products</a></li>
    <li><a asp-page="/Customers/Index">View Customers</a></li>
</ul>