@page
@model IndexModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@Configuration["KeyVaultName"]</h1>
    <p>@Configuration["KeyVaultProviderSampleSecret"]</p>
</div>
